In [ ]:
import datetime, warnings, scipy
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("flights.csv")
airport = pd.read_csv('airports.csv')
airlines = pd.read_csv('airlines.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149430 entries, 0 to 2149429
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  float64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             float64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    float64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             float64
 24  CANCELLED            float64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(21), int64(5), object(5)
memory usage: 508.4+ MB

In [ ]:
data.shape

(2149430, 31)

In [ ]:
data.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,2149430.0,2.149430e+06,2.149430e+06,2.149430e+06,2.149430e+06,2.149429e+06,2.100427e+06,2.100427e+06,2.099327e+06,2.099327e+06,...,2.149429e+06,2.097787e+06,2.093719e+06,2.149429e+06,2.149429e+06,409671.000000,409671.000000,409671.000000,409671.000000,409671.000000
mean,2015.0,2.831416e+00,1.469780e+01,3.951745e+00,2.218870e+03,1.327306e+03,1.335203e+03,9.371144e+00,1.612416e+01,1.358070e+03,...,1.499881e+03,1.485180e+03,5.017638e+00,2.415990e-03,2.350252e-02,13.346490,0.059479,18.349873,22.408608,3.075910
std,0.0,1.325486e+00,8.607574e+00,1.977424e+00,1.782398e+03,4.785769e+02,4.901534e+02,3.669798e+01,9.167791e+00,4.909614e+02,...,4.988089e+02,5.174200e+02,3.917421e+01,4.909333e-02,1.514931e-01,26.243395,1.845059,46.768048,41.766398,21.291309
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-6.800000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,2.000000e+00,7.000000e+00,2.000000e+00,7.460000e+02,9.200000e+02,9.240000e+02,-5.000000e+00,1.100000e+01,9.390000e+02,...,1.115000e+03,1.106000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.0,3.000000e+00,1.400000e+01,4.000000e+00,1.696000e+03,1.322000e+03,1.330000e+03,-1.000000e+00,1.400000e+01,1.344000e+03,...,1.523000e+03,1.518000e+03,-4.000000e+00,0.000000e+00,0.000000e+00,3.000000,0.000000,2.000000,3.000000,0.000000
75%,2015.0,4.000000e+00,2.200000e+01,6.000000e+00,3.405000e+03,1.727000e+03,1.737000e+03,8.000000e+00,1.900000e+01,1.750000e+03,...,1.918000e+03,1.918000e+03,9.000000e+00,0.000000e+00,0.000000e+00,18.000000,0.000000,18.000000,28.000000,0.000000
max,2015.0,5.000000e+00,3.100000e+01,7.000000e+00,9.794000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1101.000000,241.000000,1971.000000,1331.000000,1152.000000

In [ ]:
data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5.0,...,408.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10.0,...,741.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20.0,...,811.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20.0,...,756.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25.0,...,259.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2149425,2015,5,17,7,EV,5969,N14998,TYS,ORD,955.0,...,1045.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149426,2015,5,17,7,F9,556,N918FR,SAN,DEN,955.0,...,1256.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149427,2015,5,17,7,MQ,3370,N658MQ,CID,ORD,955.0,...,1057.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149428,2015,5,17,7,EV,5125,N854AS,ATL,SGF,955.0,...,1041.0,-10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149429,2015,5,17,7,OO,2809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5.0,...,408.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10.0,...,741.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20.0,...,811.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20.0,...,756.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25.0,...,259.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149425,2015,5,17,7,EV,5969,N14998,TYS,ORD,955.0,...,1045.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149426,2015,5,17,7,F9,556,N918FR,SAN,DEN,955.0,...,1256.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149427,2015,5,17,7,MQ,3370,N658MQ,CID,ORD,955.0,...,1057.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149428,2015,5,17,7,EV,5125,N854AS,ATL,SGF,955.0,...,1041.0,-10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2149429,2015,5,17,7,OO,2809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [ ]:
airport = airport.dropna(subset = ['LATITUDE','LONGITUDE'])

In [ ]:
airport.isnull().sum()

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [ ]:
airport.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [ ]:
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [ ]:
Data_NULL = data.isnull().sum()*100/data.shape[0]
Data_NULL

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.416855
ORIGIN_AIRPORT          0.000047
DESTINATION_AIRPORT     0.000047
SCHEDULED_DEPARTURE     0.000047
DEPARTURE_TIME          2.279814
DEPARTURE_DELAY         2.279814
TAXI_OUT                2.330990
WHEELS_OFF              2.330990
SCHEDULED_TIME          0.000326
ELAPSED_TIME            2.591896
AIR_TIME                2.591896
DISTANCE                0.000047
WHEELS_ON               2.402637
TAXI_IN                 2.402637
SCHEDULED_ARRIVAL       0.000047
ARRIVAL_TIME            2.402637
ARRIVAL_DELAY           2.591896
DIVERTED                0.000047
CANCELLED               0.000047
CANCELLATION_REASON    97.649749
AIR_SYSTEM_DELAY       80.940482
SECURITY_DELAY         80.940482
AIRLINE_DELAY          80.940482
LATE_AIRCRAFT_DELAY    80.940482
WEATHER_DELAY          80.940482
dtype: float64

In [ ]:
# Dropping of subset of null values
data1 = data.dropna(subset = ["TAIL_NUMBER",'DEPARTURE_TIME','DEPARTURE_DELAY','TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME',
             'ELAPSED_TIME','AIR_TIME','WHEELS_ON','TAXI_IN','ARRIVAL_TIME','ARRIVAL_DELAY'])

In [ ]:
data1.shape

(2093719, 31)

In [ ]:
data1.isnull().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER                  0
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME               0
DEPARTURE_DELAY              0
TAXI_OUT                     0
WHEELS_OFF                   0
SCHEDULED_TIME               0
ELAPSED_TIME                 0
AIR_TIME                     0
DISTANCE                     0
WHEELS_ON                    0
TAXI_IN                      0
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME                 0
ARRIVAL_DELAY                0
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    2093719
AIR_SYSTEM_DELAY       1684048
SECURITY_DELAY         1684048
AIRLINE_DELAY          1684048
LATE_AIRCRAFT_DELAY    1684048
WEATHER_DELAY          1684048
dtype: int64

In [ ]:
# Creting Dataset w.r.t different Types of Delays
data11 = data1.dropna(subset = ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])
data11 = data11.drop(['YEAR','MONTH','DAY','DAY_OF_WEEK','TAIL_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME',
                     'SCHEDULED_ARRIVAL','ARRIVAL_TIME','DIVERTED','CANCELLED','CANCELLATION_REASON','FLIGHT_NUMBER','WHEELS_OFF',
                     'WHEELS_ON','AIR_TIME'],axis = 1)

In [ ]:
data11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409671 entries, 27 to 2149423
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   AIRLINE              409671 non-null  object
 1   ORIGIN_AIRPORT       409671 non-null  object
 2   DESTINATION_AIRPORT  409671 non-null  object
 3   DEPARTURE_DELAY      409671 non-null  float64
 4   TAXI_OUT             409671 non-null  float64
 5   ELAPSED_TIME         409671 non-null  float64
 6   DISTANCE             409671 non-null  float64
 7   TAXI_IN              409671 non-null  float64
 8   ARRIVAL_DELAY        409671 non-null  float64
 9   AIR_SYSTEM_DELAY     409671 non-null  float64
 10  SECURITY_DELAY       409671 non-null  float64
 11  AIRLINE_DELAY        409671 non-null  float64
 12  LATE_AIRCRAFT_DELAY  409671 non-null  float64
 13  WEATHER_DELAY        409671 non-null  float64
dtypes: float64(11), object(3)
memory usage: 46.9+ MB

In [ ]:
# The other Dataset
Flight_Delays = data11

In [ ]:
# Creating Dataset by removing null values by not focussing fully on different types of Delays
data2 = data1.drop(['CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY',
                    'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis = 1)

In [ ]:
data2.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
dtype: int64

In [ ]:
data2.shape

(2093719, 25)

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2093719 entries, 0 to 2149428
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  float64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             float64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    float64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             float64
 24  CANCELLED            float64
dtypes: float64(16), int64(5), object(4)
memory usage: 415.3+ MB

In [ ]:
data2.DEPARTURE_TIME.isnull().sum()

np.int64(0)

In [ ]:
data2.DEPARTURE_TIME.dtype

dtype('float64')

In [ ]:
data2.DEPARTURE_TIME

0          2354.0
1             2.0
2            18.0
3            15.0
4            24.0
            ...
2149424     950.0
2149425    1004.0
2149426     950.0
2149427     949.0
2149428     953.0
Name: DEPARTURE_TIME, Length: 2093719, dtype: float64

In [ ]:
# Creating a function to change the way of representation of time in the column
def Format_Hourmin(hours):
        if hours == 2400:
            hours = 0
        else:
            hours = "{0:04d}".format(int(hours))
            Hourmin = datetime.time(int(hours[0:2]), int(hours[2:4]))
            return Hourmin

In [ ]:
data2['Actual_Departure'] =data1['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Actual_Departure']

0          23:54:00
1          00:02:00
2          00:18:00
3          00:15:00
4          00:24:00
             ...
2149424    09:50:00
2149425    10:04:00
2149426    09:50:00
2149427    09:49:00
2149428    09:53:00
Name: Actual_Departure, Length: 2093719, dtype: object

In [ ]:
data2.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'Actual_Departure'],
      dtype='object')

In [ ]:
# Creating Date in the Datetime format
data2['Date'] = pd.to_datetime(data2[['YEAR','MONTH','DAY']])
data2.Date

0         2015-01-01
1         2015-01-01
2         2015-01-01
3         2015-01-01
4         2015-01-01
             ...
2149424   2015-05-17
2149425   2015-05-17
2149426   2015-05-17
2149427   2015-05-17
2149428   2015-05-17
Name: Date, Length: 2093719, dtype: datetime64[ns]

In [ ]:
# Creating Date in the Datetime format
data2['Date'] = pd.to_datetime(data2[['YEAR','MONTH','DAY']])
data2.Date

0         2015-01-01
1         2015-01-01
2         2015-01-01
3         2015-01-01
4         2015-01-01
             ...
2149424   2015-05-17
2149425   2015-05-17
2149426   2015-05-17
2149427   2015-05-17
2149428   2015-05-17
Name: Date, Length: 2093719, dtype: datetime64[ns]

In [ ]:
# Applying the function to required variables in the dataset
data2['Actual_Departure'] =data1['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Scheduled_Arrival'] =data1['SCHEDULED_ARRIVAL'].apply(Format_Hourmin)
data2['Scheduled_Departure'] =data1['SCHEDULED_DEPARTURE'].apply(Format_Hourmin)
data2['Actual_Arrival'] =data1['ARRIVAL_TIME'].apply(Format_Hourmin)

In [ ]:
# Merging on AIRLINE and IATA_CODE
data2 = data2.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE', how='inner')

In [ ]:
data2 = data2.drop(['AIRLINE_x','IATA_CODE'], axis=1)

In [ ]:
data2 = data2.rename(columns={"AIRLINE_y":"AIRLINE"})

In [ ]:
data2 = data2.merge(airport, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='inner')
data2 = data2.merge(airport, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='inner')

In [ ]:
data2.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
       'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'Actual_Departure', 'Date',
       'Scheduled_Arrival', 'Scheduled_Departure', 'Actual_Arrival', 'AIRLINE',
       'IATA_CODE_x', 'AIRPORT_x', 'CITY_x', 'STATE_x', 'COUNTRY_x',
       'LATITUDE_x', 'LONGITUDE_x', 'IATA_CODE_y', 'AIRPORT_y', 'CITY_y',
       'STATE_y', 'COUNTRY_y', 'LATITUDE_y', 'LONGITUDE_y'],
      dtype='object')

In [ ]:
data2 = data2.drop(['LATITUDE_x', 'LONGITUDE_x',
       'STATE_y', 'COUNTRY_y', 'LATITUDE_y', 'LONGITUDE_y','STATE_x', 'COUNTRY_x'], axis=1)

In [ ]:
data2 = data2.rename(columns={'IATA_CODE_x':'Org_Airport_Code','AIRPORT_x':'Org_Airport_Name','CITY_x':'Origin_city',
                             'IATA_CODE_y':'Dest_Airport_Code','AIRPORT_y':'Dest_Airport_Name','CITY_y':'Destination_city'})

In [ ]:
data2

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,Scheduled_Arrival,Scheduled_Departure,Actual_Arrival,AIRLINE,Org_Airport_Code,Org_Airport_Name,Origin_city,Dest_Airport_Code,Dest_Airport_Name,Destination_city
0,2015,1,1,4,98,N407AS,ANC,SEA,5.0,2354.0,...,04:30:00,00:05:00,04:08:00,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,SEA,Seattle-Tacoma International Airport,Seattle
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,10.0,2.0,...,07:50:00,00:10:00,07:41:00,American Airlines Inc.,LAX,Los Angeles International Airport,Los Angeles,PBI,Palm Beach International Airport,West Palm Beach
2,2015,1,1,4,840,N171US,SFO,CLT,20.0,18.0,...,08:06:00,00:20:00,08:11:00,US Airways Inc.,SFO,San Francisco International Airport,San Francisco,CLT,Charlotte Douglas International Airport,Charlotte
3,2015,1,1,4,258,N3HYAA,LAX,MIA,20.0,15.0,...,08:05:00,00:20:00,07:56:00,American Airlines Inc.,LAX,Los Angeles International Airport,Los Angeles,MIA,Miami International Airport,Miami
4,2015,1,1,4,135,N527AS,SEA,ANC,25.0,24.0,...,03:20:00,00:25:00,02:59:00,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,ANC,Ted Stevens Anchorage International Airport,Anchorage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090327,2015,5,17,7,5166,N136EV,BTR,ATL,955.0,950.0,...,12:27:00,09:55:00,12:06:00,Atlantic Southeast Airlines,BTR,Baton Rouge Metropolitan Airport,Baton Rouge,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta
2090328,2015,5,17,7,5969,N14998,TYS,ORD,955.0,1004.0,...,10:41:00,09:55:00,10:45:00,Atlantic Southeast Airlines,TYS,McGhee Tyson Airport,Knoxville,ORD,Chicago O'Hare International Airport,Chicago
2090329,2015,5,17,7,556,N918FR,SAN,DEN,955.0,950.0,...,13:10:00,09:55:00,12:56:00,Frontier Airlines Inc.,SAN,San Diego International Airport (Lindbergh Field),San Diego,DEN,Denver International Airport,Denver
2090330,2015,5,17,7,3370,N658MQ,CID,ORD,955.0,949.0,...,11:02:00,09:55:00,10:57:00,American Eagle Airlines Inc.,CID,The Eastern Iowa Airport,Cedar Rapids,ORD,Chicago O'Hare International Airport,Chicago
2090331,2015,5,17,7,5125,N854AS,ATL,SGF,955.0,953.0,...,10:51:00,09:55:00,10:41:00,Atlantic Southeast Airlines,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,SGF,Springfield-Branson National Airport,Springfield

In [ ]:
%%html
<div class='tableauPlaceholder' id='viz1569936847474' style='position: relative'><noscript><a href='#'><img alt=' '
src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9B&#47;9BD44NRJ9&#47;1_rss.png' style='border: none'
/></a></noscript><object class='tableauViz'
style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'
/> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;9BD44NRJ9'
/> <param name='toolbar' value='yes'
/><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9B&#47;9BD44NRJ9&#47;1.png'
/> <param name='animate_transition' value='yes'
/><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes'
/><param name='display_overlay' value='yes' /><param name='display_count' value='yes'
/><param name='filter' value='publish=yes' /></object></div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1569936847474');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

In [ ]:
%%html
<div class='tableauPlaceholder' id='viz1569938215526' style='position: relative'><noscript><a href='#'><img alt=' '
src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PH&#47;PHNKQPSZG&#47;1_rss.png' style='border: none'
/></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'
/> <param name='embed_code_version' value='3'
/> <param name='path' value='shared&#47;PHNKQPSZG'
/> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PH&#47;PHNKQPSZG&#47;1.png'
/> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes'
/><param name='display_overlay' value='yes'
/><param name='display_count' value='yes' /></object></div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1569938215526');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>